/*Usado para criar variavel no css*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: hsl(239, 51%, 20%);
    --fonte-principal: 'inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat; /*Serve para nao repetir*/
    background-size: contain; /*pega o tamanho do container e preenche ele*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid; /*Definindo um grid no conteiner*/
    grid-template-columns: 50% 50%; /*Definindo a separação do grid*/
}

.container__botao {
    background-color: var(--botao-azul);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em; /*Relativa ao tamanho da fonte*/
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
    transition: background 0.5s;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: #FFFFFF;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);

}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0; /*top right bottom left*/
}

.container__caixa{
    margin: 0 6em; /*top e baixo, left e right*/
}

.secundario__imagem{
    width: 70%;
}

.secundario{
    align-items:center ;
    margin: 0 10em;
}

.descricao__titulo{
    font-size: 48px ;
    font-weight: 700 ;
    margin-bottom: 0.2em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block; /*transformou o elemento em linha assim quebrando a linha*/
    margin-top: 1em;
}

.container__descricao{
    padding: 3em ;
}


.dispositivos__lista{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 25px;
    color: var(--cinza-secundario);
}

.rodape__lista{
    display: flex;
    list-style: none;
    justify-content: center;
}

.lista__link{
    padding: 0 1em;
    margin: 3em 0;
}

.lista__link a{
    text-decoration: none;
    color: var(--cinza-secundario);
    transition: color 0.5s;
}


.lista__link a:hover{
    color: var(--botao-azul);
}

.rodape{
    text-align: center;
}

.rodape__texto{
    margin: 1em 0;
}